@import "~dhtmlx-gantt/codebase/dhtmlxgantt.css";
//@import "~dhtmlx-gantt/codebase/skins/dhtmlxgantt_material.css";

html, body {
    height: 100%;
}

body > .container-fluid {
    height: 100%;
    //position: relative;
}

.wrap-gantt {
    position: absolute;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    top: 110px;
    bottom: 20px;
    right: 0;
    left: 0;
}
#gantt_here {
    width:100%;
    height: 100%;
}

.gantt_tree_content {
    text-overflow: ellipsis;
    overflow: hidden;
}

.custom_row {
    //background: rgb(245, 248, 245);

    &.odd-0 {
        background: rgb(255, 255, 255);
    }
    &.odd-1 {
        background: rgb(245, 245, 245);
    }
    &.is-header {
        background: rgb(167, 190, 255);

        .gantt_task_cell {
            border-right: 0 none;
        }
    }
}


.paging-center .pagination {
    justify-content: center;
}
